html, body {margin: 0; height:100%; font-family: "ff-tisa-web-pro";}


h1, h2, h3 {font-family: "ff-enzo-web";}
h4, h5, h6 {font-family: "ff-tisa-web-pro";}


.header {margin:0 auto; height: 100%; background: url('/static/images/header.jpg'); background-position: center; background-size: 100% auto; background-repeat: no-repeat;}

@media screen and (max-aspect-ratio:4/2) {
    .header {background-size: auto 100%;}
}

.title-block{margin: 0 auto; background: #014673; color: #FFF; text-align: center; padding: 20px; position:absolute; bottom: 0; left:0; right:0;}

.title-block:before {content: ''; display: block; position: absolute; bottom:100%; left:0; right: 0; height: 20px;
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.40) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.40))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.40) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.40) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.40) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.40) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

.title-block h1, .title-block h2, .title-block h5 {margin: 10px;}

@media screen and (max-height: 500px){
    .title-block {padding: 10px}
    .title-block h1, .title-block h2 {display: inline-block; font-size: 24px; margin: 0px}
    .title-block h5 {margin: 0; font-size: 12px;}
    .title-block h2:before {content: ' - ';}
}

.formats {position: fixed; right: 0; top: 0; height: 150px; width: 30px; background: rgba(0,0,0,0.35); color: #FFF; font-size: 18px; text-align: center; opacity: 0.5; transition: opacity 500ms;}
.formats:hover {opacity: 1;}
.formats a {display: block; color: inherit; margin: 5px;}
.formats .print-black-white{background: #FFF; width: 17px; height: 5px; margin-left: 2px; position: relative;}
.formats .print-black-white:after{content: ''; background: #000; position: absolute; width: 8px; height: 3px; right: 1px; top:1px; z-index:3;}

.formats .print-color{background: #00FF00; width: 17px; height: 5px; margin-left: 2px; position: relative; border:1px solid #FFF;}
.formats .print-color:after{content: ''; background: #0000FF; position: absolute; width: 5px; height: 3px; right: 0px; top:0px; z-index:3;}
.formats .print-color:before{content: ''; background: #FF0000; position: absolute; width: 5px; height: 3px; left: 0px; top:0px; z-index:3;}

.tooltip {white-space: nowrap; font-family: "ff-enzo-web"; font-weight: bold;}

.block-blue {margin: 0; width: 100%; color: #FFF; background: #014673;}
.block-blue > div.container {max-width: 1000px; margin: 0 auto; padding-top: 60px; padding-bottom: 60px;}
.block-blue.small-top > div.container {padding-top: 30px}

.block-blue a, .block-blue a:visited{color: #A0D7FB; text-decoration: none;}
.block-blue a:hover {color: #A0D7FB; text-decoration: underline;}

.block-white {margin: 0; width: 100%; color: #000; background: #FFF;}
.block-white h1, .block-white h2, .block-white h3 {color: #014673;}
.block-white > div.container {max-width: 1000px; margin: 0 auto; padding-top: 60px;  padding-bottom: 60px;}

.block-white a, .block-white a:visited{color: #014673; text-decoration: none;}
.block-white a:hover {color: #0171AD; text-decoration: underline;}

.desc-cell {vertical-align: top;}
.desc-cell h3 {margin:0;}

.top {padding-top: 40px;}
.bottom {padding-bottom: 60px;}
.center {text-align: center;}
/* DELETE LATER IF CHANGE MIND */

/*.hr {content: '\221E'; position: relative; text-align: center; width: 100%; font-size: 2em; font-style: italic; font-family: unicode;}*/
/*.hr:before {content: ''; position: absolute; width: 100%; height: 1px; top: 20px; left: 0; background:#FFF;}*/
/*.hr:after {content: ''; position: absolute; width: 100%; height: 1px; bottom: 16px;  left: 0; background:#FFF;}*/
/*.hr span {background: #014673;}*/
/*.hr span:before {content: '\221E'; position: absolute; left: 50%;font-style: italic;margin-left: 0.2em;font-family: unicode;}*/
/*.hr span:after {content: '\221E'; position: absolute; right: 50%;font-style: italic;margin-right: 0.2em;font-family: unicode;}*/


/* TIME LINE */

.timeline {width: 100%;padding-bottom: 30px; position: relative}
.timeline-time {z-index: 1; width: 100%; height: 50px;}

.timeline-year {width: 8.5%; border-left: 1px solid #FFFFFF; margin-left: -1px; position: relative; display: inline-block;  height: 100%;}
.timeline-year span {font-family: sans-serif; font-size: 10px;  position: absolute; top: 110%; left: -12px;}

.timeline-year-spacer {width: 6%; height: 100%; display: inline-block;}

.timeline-primary {position: absolute; top: 0; left: 0; width: 100%; height: 100%; padding: 2px; padding-left: 19px; z-index: 2;}
.timeline-prime-block {height: 30%; border: 1px solid #014673; background: #FFFFFF; display: inline-block; margin-top: 8px; margin-right: -3px; z-index: 4;}
.timeline-year-last {width: 0%;}

.timeline-secondary {position: absolute; top: 0; left: 0; width: 100%; height: 100%; padding: 2px; padding-left: 19px; z-index: 3;}

.timeline-second-block {height: 15%; border: 1px solid #014673; background: #FFFFFF; display: inline-block; margin-top: 20px; margin-right: -3px; z-index: 5;}
.timeline-second-spacer {height: 15%; display: inline-block}

/*temp timeline stuff */

.bedales {width: 27%;}
.gapyear {width: 10%;}
.leeds {width: 25%;}
.random1 {width: 3%;}
.stunjelly {width: 30%;}
.westway {width: 29%; position: absolute; left: 2%; top: 1px;}
.random2 {width: 2%;  position: absolute; left: 59%; top: 1px;}

.tl-spacer1 {width: 10%;}

.skill-bar-main, .skill-bar-empty {height: 20px; margin: 0; display: inline-block;}
.skill-number {position: absolute; top:-2px; left:23px; font-family: 'FF-ENZO-WEB'; font-size: 17px; text-align: center; font-weight: normal;}

.block-white .skill-bar-main {background: #014673;}
.block-white .skill-bar-empty {background: #efefef;}
.block-white .skill-number {color: #FFF;}

.skill-wd-0 {width: 0%}
.skill-wd-1 {width: 10%}
.skill-wd-2 {width: 20%}
.skill-wd-3 {width: 30%}
.skill-wd-4 {width: 40%}
.skill-wd-5 {width: 50%}
.skill-wd-6 {width: 60%}
.skill-wd-7 {width: 70%}
.skill-wd-8 {width: 80%}
.skill-wd-9 {width: 90%}
.skill-wd-10 {width: 100%}

.small-text {font-size: 75%;}
.small-top {margin-top: 10px;}

.expert {font-size: 20px}
.expert-top {margin-top: 20px;}

.ifprint {display:none}
.ifnotprint-white {color: #FFF !important;}