{% extends "layout.html" %}
{% block content %}
<div class="header"></div>
  <div class="title-block">
      <h1>Nic West</h1>
      <h2>Curriculum vitae</h2>
      <h5>Updated: xx-xx-xx xx:xx</h5>
  </div>

  <div class="formats">
      <a href="#" data-toggle="tooltip" data-placement="left" title="Print Black & White" rel="tooltip">
          <i class="fa fa-print"></i>
          <div class="print-black-white"></div>
      </a>

      <a href="#" data-toggle="tooltip" data-placement="left" title="Print Colour" rel="tooltip">
          <i class="fa fa-print"></i>
          <div class="print-color"></div>
      </a>

      <a href="#" data-toggle="tooltip" data-placement="left" title="Download (PDF) Black & White" rel="tooltip">
          <i class="fa fa-download"></i>
          <div class="print-black-white"></div>
      </a>
      <a href="#" data-toggle="tooltip" data-placement="left" title="Download (PDF) Colour" rel="tooltip">
          <i class="fa fa-download"></i>
          <div class="print-color"></div>
      </a>
  </div>
  <div class="block-white">
    <div class="container">
        <div class="row">
            <div class="col-md-2 desc-cell"><h3>Overview:</h3></div>
            <div class="col-md-10">Design graduate with 3 years experience of creating complex ebooks and enhanced picture
                books for various publishing clients. Winner of the 2013 Publishing Innovation Award for Best Ebook at
                the Digital Book World Conference for Random House UK.</div>
        </div>
    </div>
  </div>


  <div class="block-blue">

    <div class="container">

        <h2 class="center bottom"><i class="fa fa-clock-o"></i><br/>History</h2>
        <div class="row timeline">
            <div class="timeline-time">
                <div class="timeline-year-spacer"></div>
                <div class="timeline-year"><span>2004</span></div>
                <div class="timeline-year"><span>2005</span></div>
                <div class="timeline-year"><span>2006</span></div>
                <div class="timeline-year"><span>2007</span></div>
                <div class="timeline-year"><span>2008</span></div>
                <div class="timeline-year"><span>2009</span></div>
                <div class="timeline-year"><span>2010</span></div>
                <div class="timeline-year"><span>2011</span></div>
                <div class="timeline-year"><span>2012</span></div>
                <div class="timeline-year"><span>2013</span></div>
                <div class="timeline-year timeline-year-last"><span>2014</span></div>
            </div>

            <div class="timeline-primary">
                <div class="timeline-prime-block bedales" data-toggle="tooltip" data-placement="top" title="Bedales" rel="tooltip"></div>
                <div class="timeline-prime-block gapyear" data-toggle="tooltip" data-placement="top" title="Gap Year" rel="tooltip"></div>
                <div class="timeline-prime-block leeds" data-toggle="tooltip" data-placement="top" title="Leeds Art College" rel="tooltip"></div>
                <div class="timeline-prime-block random1" data-toggle="tooltip" data-placement="top" title="Random House" rel="tooltip"></div>
                <div class="timeline-prime-block stunjelly" data-toggle="tooltip" data-placement="top" title="Stunjelly" rel="tooltip"></div>
                <div class="timeline-second-block westway" data-toggle="tooltip" data-placement="bottom" title="Westway Sports Center" rel="tooltip"></div>
                <div class="timeline-second-spacer tl-spacer1"></div>
                <div class="timeline-second-block random2" data-toggle="tooltip" data-placement="bottom" title="Random house" rel="tooltip"></div>
            </div>

{#            <div class="timeline-secondary">#}
{#            </div>#}

        </div>
        <div class="row top">
            <div class="col-md-2 desc-cell"><h3>Experience:</h3></div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-3 desc-cell">2010 – Present</div>
                    <div class="col-md-9"><strong>Digital Director (Founder) @ Stunjelly</strong><br />
                        Stunjelly is a Digital publishing consultancy that specializes in complex
                        EPUB/MOBI, creation, corrections and conversions.<br/>
                        <a href="http://stunjelly.com">stunjelly.com</a>
                        </div>
                </div>

                <div class="row">
                    <div class="col-md-3 desc-cell">July – Aug 2010</div>
                    <div class="col-md-9"><strong>Web Development Assistant @ Random House</strong><br/> Short term contract for in house tool build</div>
                </div>
                <div class="row">
                    <div class="col-md-3 desc-cell">Dec – Jan 2009/10</div>
                    <div class="col-md-9"><strong>Digital Assistant @ Random House</strong><br/> Short term contract for server migration</div>
                </div>
                <div class="row">
                    <div class="col-md-3 desc-cell">2004 – 2006</div>
                    <div class="col-md-9"><strong>Climbing Instructor @  Westway Sports center</strong>(weekends)</div>
                </div>
            </div>
        </div>
        <div class="row top">
            <div class="col-md-2 desc-cell"><h3>Education:</h3></div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-3 desc-cell">2007 – 2010</div>
                    <div class="col-md-9"><strong>Student @ Leeds College of Art.</strong></div>
                </div>

                <div class="row">
                    <div class="col-md-3 desc-cell">2005 – 2006</div>
                    <div class="col-md-9"><strong>Design Scholar @ Bedales School Hampshire</strong></div>
                </div>
            </div>
        </div>
        <div class="row top">
            <div class="col-md-2 desc-cell"><h3>Qualifications:</h3></div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-3 desc-cell">University</div>
                    <div class="col-md-9"><strong>BA(Hons) Three Dimensional Design</strong> (2nd class)</div>
                </div>

                <div class="row">
                    <div class="col-md-3 desc-cell">A-Level</div>
                    <div class="col-md-9">Maths: <strong>B</strong>, Physics <strong>B</strong>, Design <strong>B</strong>, Chemistry <strong>C</strong></div>
                </div>
            </div>
        </div>
    </div>
  </div>

    <div class="block-white">

        <div class="container">

            <h2 class="center"><i class="fa fa-magic"></i><br/>Skills</h2>
            <div class="row bottom">
                <div class="col-md-12 center">Where 0 is completely incompetent and 10 is pretty much as good as it gets.</div>
            </div>
            <div class="row">
                <div class="col-md-2 desc-cell"><h3>Programming:</h3></div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3">HTML5</div>
                                <div class="col-md-9">
                                    <div class="skill-bar-main skill-wd-9"></div><div class="skill-bar-empty skill-wd-1"></div>
                                    <div class="skill-number">9</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3">CSS3</div>
                                <div class="col-md-9">
                                    <div class="skill-bar-main skill-wd-9"></div><div class="skill-bar-empty skill-wd-1"></div>
                                    <div class="skill-number">9</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3">Javascript</div>
                                <div class="col-md-9">
                                    <div class="skill-bar-main skill-wd-8"></div><div class="skill-bar-empty skill-wd-2"></div>
                                    <div class="skill-number">8</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3">Python*</div>
                                <div class="col-md-9">
                                    <div class="skill-bar-main skill-wd-7"></div><div class="skill-bar-empty skill-wd-3"></div>
                                    <div class="skill-number">7</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3">PHP</div>
                                <div class="col-md-9">
                                    <div class="skill-bar-main skill-wd-6"></div><div class="skill-bar-empty skill-wd-4"></div>
                                    <div class="skill-number">6</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3">Perl</div>
                                <div class="col-md-9">
                                    <div class="skill-bar-main skill-wd-5"></div><div class="skill-bar-empty skill-wd-5"></div>
                                    <div class="skill-number">5</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3">ActionScript3</div>
                                <div class="col-md-9">
                                    <div class="skill-bar-main skill-wd-4"></div><div class="skill-bar-empty skill-wd-6"></div>
                                    <div class="skill-number">4</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3">ASP</div>
                                <div class="col-md-9">
                                    <div class="skill-bar-main skill-wd-3"></div><div class="skill-bar-empty skill-wd-7"></div>
                                    <div class="skill-number">3</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3">C/C++</div>
                                <div class="col-md-9">
                                    <div class="skill-bar-main skill-wd-2"></div><div class="skill-bar-empty skill-wd-8"></div>
                                    <div class="skill-number">2</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3">Ruby</div>
                                <div class="col-md-9">
                                    <div class="skill-bar-main skill-wd-1"></div><div class="skill-bar-empty skill-wd-9"></div>
                                    <div class="skill-number">1</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row small-top">
                <div class="col-md-2"></div>
                <div class="col-md-10 center small-text">
                    * Python 2.7 (some 3.3 experience)
                </div>
            </div>
            <div class="row top">
                <div class="col-md-2 desc-cell"><h3>Frameworks:</h3></div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3">EPUB</div>
                                <div class="col-md-9">
                                    <div class="skill-bar-main skill-wd-9"></div><div class="skill-bar-empty skill-wd-1"></div>
                                    <div class="skill-number">9</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3">jQuery</div>
                                <div class="col-md-9">
                                    <div class="skill-bar-main skill-wd-8"></div><div class="skill-bar-empty skill-wd-2"></div>
                                    <div class="skill-number">8</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3">Flask</div>
                                <div class="col-md-9">
                                    <div class="skill-bar-main skill-wd-6"></div><div class="skill-bar-empty skill-wd-4"></div>
                                    <div class="skill-number">6</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3">Bootstrap</div>
                                <div class="col-md-9">
                                    <div class="skill-bar-main skill-wd-6"></div><div class="skill-bar-empty skill-wd-4"></div>
                                    <div class="skill-number">6</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3">Wordpress*</div>
                                <div class="col-md-9">
                                    <div class="skill-bar-main skill-wd-5"></div><div class="skill-bar-empty skill-wd-5"></div>
                                    <div class="skill-number">5</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3">Django</div>
                                <div class="col-md-9">
                                    <div class="skill-bar-main skill-wd-4"></div><div class="skill-bar-empty skill-wd-6"></div>
                                    <div class="skill-number">4</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3">Node.js</div>
                                <div class="col-md-9">
                                    <div class="skill-bar-main skill-wd-3"></div><div class="skill-bar-empty skill-wd-7"></div>
                                    <div class="skill-number">3</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3">RoR</div>
                                <div class="col-md-9">
                                    <div class="skill-bar-main skill-wd-1"></div><div class="skill-bar-empty skill-wd-9"></div>
                                    <div class="skill-number">2</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row small-top">
                <div class="col-md-2"></div>
                <div class="col-md-10 center small-text">
                    * I'm counting this as a framework.
                </div>
            </div>


            <div class="row top">
                <div class="col-md-2 desc-cell"><h3>API's:</h3></div>
                <div class="col-md-10">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3">Twitter</div>
                                <div class="col-md-9">
                                    <div class="skill-bar-main skill-wd-7"></div><div class="skill-bar-empty skill-wd-3"></div>
                                    <div class="skill-number">7</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3">Facebook</div>
                                <div class="col-md-9">
                                    <div class="skill-bar-main skill-wd-5"></div><div class="skill-bar-empty skill-wd-5"></div>
                                    <div class="skill-number">5</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row top">
                <div class="col-md-2 desc-cell"><h3>OS's:</h3></div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3">Linux</div>
                                <div class="col-md-9">
                                    <div class="skill-bar-main skill-wd-7"></div><div class="skill-bar-empty skill-wd-3"></div>
                                    <div class="skill-number">7</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3">Windows</div>
                                <div class="col-md-9">
                                    <div class="skill-bar-main skill-wd-6"></div><div class="skill-bar-empty skill-wd-4"></div>
                                    <div class="skill-number">6</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3">OSx</div>
                                <div class="col-md-9">
                                    <div class="skill-bar-main skill-wd-5"></div><div class="skill-bar-empty skill-wd-5"></div>
                                    <div class="skill-number">5</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3">Android</div>
                                <div class="col-md-9">
                                    <div class="skill-bar-main skill-wd-4"></div><div class="skill-bar-empty skill-wd-6"></div>
                                    <div class="skill-number">4</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-3">iOS</div>
                                <div class="col-md-9">
                                    <div class="skill-bar-main skill-wd-4"></div><div class="skill-bar-empty skill-wd-6"></div>
                                    <div class="skill-number">4</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row top">
                <div class="col-md-2 desc-cell"><h3>Programs*:</h3></div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-12">
                            GIMP, EpubCheck, Sigil, Pycharm, Sublime Text, Photoshop, Dreamweaver, Illustrator, Fireworks, MS Office, Libre Office, MySQL Workbench.
                        </div>
                    </div>
                </div>
            </div>

            <div class="row top">
                <div class="col-md-2 desc-cell"><h3>Other*:</h3></div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-12">
                            XMPP, OpenId, IRC, ImageMagick, Qt4, PDO, MySQL, SQLite, JSON, Redis, SocketIO.
                        </div>
                    </div>
                </div>
            </div>

            <div class="row small-top">
                <div class="col-md-2 small-text desc-cell">
                    * In no particular order
                </div>
                <div class="col-md-10"></div>
            </div>
        </div>
    </div>


    <div class="block-blue">

        <div class="container">

            <h2 class="center bottom"><i class="fa fa-bullseye"></i><br/>Expertise</h2>
            <div class="row"></div>
        </div>
    </div>

    <div class="block-white">

        <div class="container">

            <h2 class="center bottom"><i class="fa fa-trophy"></i><br/>Awards</h2>
            <div class="row"></div>
        </div>
    </div>


    <div class="block-blue">

        <div class="container">

            <h2 class="center bottom"><i class="fa fa-cogs"></i><br/>Work Examples</h2>
            <div class="row"></div>
        </div>
    </div>


    <div class="block-white">

        <div class="container">

            <h2 class="center"><i class="fa fa-user"></i><br/>Me</h2>
            <div class="row top">
                <div class="col-md-2 desc-cell"><h3>Info:</h3></div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 desc-cell">Full Name</div>
                                <div class="col-md-8"><strong>Nicholas Oliver West</strong></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 desc-cell">Date of Birth</div>
                                <div class="col-md-8"><strong>21/06/188</strong> (25 Years)</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 desc-cell">Born</div>
                                <div class="col-md-8"><strong>London, UK. British citizen</strong></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 desc-cell">Address</div>
                                <div class="col-md-8"><strong>2c Westcroft Square, London, W6 0TB, UK</strong></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row top">
                <div class="col-md-2 desc-cell"><h3>Contact:</h3></div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 desc-cell">Personal Email</div>
                                <div class="col-md-8"><strong><a href="mailto:nicwest.cb@gmail.com">nicwest.cb@gmail.com</a></strong></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 desc-cell">Buisness Email</div>
                                <div class="col-md-8"><strong><a href="mailto:nic@stunjelly.com">nic@stunjelly.com</a></strong></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 desc-cell">Twitter</div>
                                <div class="col-md-8"><strong><a href="https://twitter.com/west_nic">twitter.com/west_nic</a></strong></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 desc-cell">G+</div>
                                <div class="col-md-8"><strong><a href="https://plus.google.com/+NicWest-g">plus.google.com/+NicWest-g</a></strong></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 desc-cell">Mobile</div>
                                <div class="col-md-8"><strong>07900 444 2 44</strong></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 desc-cell">Home</div>
                                <div class="col-md-8"><strong>0208 748 8035</strong></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row top">
                <div class="col-md-2 desc-cell"><h3>Interests:</h3></div>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-12">
                            Reading (fantasy, historical fiction, sci-fi), vaping, games, cycling, puzzles, coding, beer, reddit, longboarding, squash, cooking, tanks.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="block-blue">

        <div class="container">

            <h2 class="center"><i class="fa fa-github"></i><br/>This</h2>
            <div class="row center">
                <div class="col-md-12">
                    Source code is availble at <a href="http://github.com/nicwest/cv">github.com/nicwest/website</a>. Feel free to <i class="fa fa-code-fork"></i>!<br/>
                    Copyright &copy; 2014 Nic West
                </div>
            </div>
        </div>
    </div>
{% endblock %}