{% extends "admin_layout.html" %}
{% block admin_bread_crumb %} >> <a href="{{ url_for('admin_cv_browse') }}">CV</a> >> Items{% endblock %}
{% block admin_content %}
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>title</th>
                <th class="table-td-small"><i class="fa fa-edit"></i></th>
                <th class="table-td-small"><i class="fa fa-trash-o"></i></th>
            </tr>
        </thead>

        <tbody>
            {% for item in items recursive %}
                <tr{% if item.typ == "category" %} class="info"{% elif item.typ == "subheader" %} class="success"{% endif %}>
                    <td>{{ item.id }}</td>
                    <td>{{ item.admin_title }}</td>
                    <td><a href="{{ url_for('admin_cv_item_edit', id=item.id) }}"><i class="fa fa-edit"></i></a></td>
                    <td><a href="{{ url_for('admin_cv_item_delete', id=item.id) }}"><i class="fa fa-trash-o"></i></a></td>
                </tr>

                {% if item.children %}
                    {{ loop(item.children) }}
                {% endif %}
            {% endfor %}
        </tbody>
        </table>
    </div>
</div>
{% endblock %}