{% extends "layout.html" %}
{% block additional_js %}
    {{ super() }}
    <!-- WYSIWYG -->
    <script src="{{ url_for('static', filename='js/bootstrap-wysiwyg.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.hotkeys.js') }}"></script>
    <script src="{{ url_for('static', filename='js/editor-toolbar.js') }}"></script>
    <!-- SLUG MAKER -->
    <script src="{{ url_for('static', filename='js/slug-maker.js') }}"></script>
{% endblock %}
{% block content %}
    <div class="block-white">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-pills">
                      <li{% if section == 'dash' %} class="active"{% endif %}><a href="#"><i class="fa fa-tachometer fa-fw"></i> Dashboard</a></li>
                      <li class="dropdown{% if section == 'cv' %} active{% endif %}">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                          <i class="fa fa-magic fa-fw"></i> CV <span class="caret"></span>
                        </a>
                          <ul class="dropdown-menu">
                              <li><a href="{{ url_for('admin_cv_browse') }}">Browse</a></li>
                              <li><a href="{{ url_for('admin_cv_new') }}">New</a></li>
                              <li><a href="{{ url_for('admin_cv_items') }}">Items</a></li>
                          </ul>
                      </li>
                      <li class="dropdown{% if section == 'blog' %} active{% endif %}">
                          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                              <i class="fa fa-clock-o fa-fw"></i> Blog <span class="caret"></span>
                          </a>
                          <ul class="dropdown-menu">
                              <li><a href="{{ url_for('admin_blog_browse') }}">Browse</a></li>
                              <li><a href="{{ url_for('admin_blog_new') }}">New</a></li>
                          </ul>
                      </li>
                      <li class="disabled{% if section == 'settings' %} active{% endif %}"><a href="#"><i class="fa fa-gears fa-fw"></i> Settings</a></li>
                      <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Log out</a></li>
                    </ul>
                </div>
            </div>
            <div class="row top">
                <div class="col-xs-12">
                    <a href="{{ url_for('admin')}}">Admin</a>{% block admin_bread_crumb %}{% endblock %}
                </div>
            </div>

            {% block admin_content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}