{% extends "admin_layout.html" %}

{% block admin_bread_crumb %} >> CV{% endblock %}
{% block admin_content %}
<div class="row top">
    <div class="col-md-12">
        <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>title</th>
                <th>slug</th>
                <th>updated</th>
                <th class="table-td-small"><i class="fa fa-edit"></i></th>
                <th class="table-td-small"><i class="fa fa-trash-o"></i></th>
            </tr>
        </thead>
        <tbody>
            {% for cv in cvs %}
                <tr>
                    <td>{{ cv.id }}</td>
                    <td>{{ cv.title }}</td>
                    <td>{{ cv.slug }}</td>
                    <td>{{ cv.updated }}</td>
                    <td><a href="{{ url_for('admin_cv_edit', id=cv.id) }}"><i class="fa fa-edit"></i></a></td>
                    <td><a href="{{ url_for('admin_cv_delete', id=cv.id) }}"><i class="fa fa-trash-o"></i></a></td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</div>
{% endblock %}