{% extends "layout.html" %}
{% block title %}CV{% endblock %}
{% block content %}
<div class="header"></div>
  <div class="title-block">
      <h1>Nic West</h1>
      <h2>Curriculum vitae</h2>
      <h5>Updated: 10-02-2014 04:22</h5>
  </div>

  <div class="formats">
      <a href="#" data-toggle="tooltip" data-placement="left" title="Print Black & White" rel="tooltip">
          <i class="fa fa-print"></i>
          <div class="print-black-white"></div>
      </a>

      <a href="#" data-toggle="tooltip" data-placement="left" title="Print Colour" rel="tooltip">
          <i class="fa fa-print"></i>
          <div class="print-color"></div>
      </a>

      <a href="#" data-toggle="tooltip" data-placement="left" title="Download (PDF) Black & White" rel="tooltip">
          <i class="fa fa-download"></i>
          <div class="print-black-white"></div>
      </a>
      <a href="#" data-toggle="tooltip" data-placement="left" title="Download (PDF) Colour" rel="tooltip">
          <i class="fa fa-download"></i>
          <div class="print-color"></div>
      </a>
  </div>
  <div class="block-white">
    <div class="container">
        <div class="row">
            <div class="col-md-2 desc-cell"><h3>Overview:</h3></div>
            <div class="col-md-10">Design graduate with 3 years experience of creating complex ebooks and enhanced picture
                books for various publishing clients. Winner of the 2013 Publishing Innovation Award for Best Ebook at
                the Digital Book World Conference for Random House UK.</div>
        </div>
    </div>
  </div>


  <div class="block-blue">

    <div class="container">

        <h2 class="center"><i class="fa fa-clock-o"></i><br/>History</h2>
{#        <div class="row timeline">#}
{#            <div class="timeline-time">#}
{#                <div class="timeline-year-spacer"></div>#}
{#                <div class="timeline-year"><span>2004</span></div>#}
{#                <div class="timeline-year"><span>2005</span></div>#}
{#                <div class="timeline-year"><span>2006</span></div>#}
{#                <div class="timeline-year"><span>2007</span></div>#}
{#                <div class="timeline-year"><span>2008</span></div>#}
{#                <div class="timeline-year"><span>2009</span></div>#}
{#                <div class="timeline-year"><span>2010</span></div>#}
{#                <div class="timeline-year"><span>2011</span></div>#}
{#                <div class="timeline-year"><span>2012</span></div>#}
{#                <div class="timeline-year"><span>2013</span></div>#}
{#                <div class="timeline-year timeline-year-last"><span>2014</span></div>#}
{#            </div>#}
{##}
{#            <div class="timeline-primary">#}
{#                <div class="timeline-prime-block bedales" data-toggle="tooltip" data-placement="top" title="Bedales" rel="tooltip"></div>#}
{#                <div class="timeline-prime-block gapyear" data-toggle="tooltip" data-placement="top" title="Gap Year" rel="tooltip"></div>#}
{#                <div class="timeline-prime-block leeds" data-toggle="tooltip" data-placement="top" title="Leeds Art College" rel="tooltip"></div>#}
{#                <div class="timeline-prime-block random1" data-toggle="tooltip" data-placement="top" title="Random House" rel="tooltip"></div>#}
{#                <div class="timeline-prime-block stunjelly" data-toggle="tooltip" data-placement="top" title="Stunjelly" rel="tooltip"></div>#}
{#                <div class="timeline-second-block westway" data-toggle="tooltip" data-placement="bottom" title="Westway Sports Center" rel="tooltip"></div>#}
{#                <div class="timeline-second-spacer tl-spacer1"></div>#}
{#                <div class="timeline-second-block random2" data-toggle="tooltip" data-placement="bottom" title="Random house" rel="tooltip"></div>#}
{#            </div>#}
{##}
{##}
{#        </div>#}
        <div class="row top">
            <div class="col-md-2 col-sm-12 col-xs-12 desc-cell"><h3>Experience:</h3></div>
            <div class="col-md-10 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-3 desc-cell">2010 – Present</div>
                    <div class="col-md-9 col-sm-9 col-xs-9"><strong>Digital Director (Founder)</strong> @ <strong>Stunjelly</strong><br />
                        Stunjelly is a Digital publishing consultancy that specializes in complex
                        EPUB/MOBI, creation, corrections and conversions.<br/>
                        <a href="http://stunjelly.com">stunjelly.com</a>
                        </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 col-xs-3 desc-cell">July – Aug 2010</div>
                    <div class="col-sm-9 col-xs-9"><strong>Web Development Assistant</strong> @ <strong>Random House</strong><br/> Short term contract for in house tool build</div>
                </div>
                <div class="row">
                    <div class="col-sm-3 col-xs-3 desc-cell">Dec – Jan 2009/10</div>
                    <div class="col-sm-9 col-xs-9"><strong>Digital Assistant</strong> @ <strong>Random House</strong><br/> Short term contract for server migration</div>
                </div>
                <div class="row">
                    <div class="col-sm-3 col-xs-3 desc-cell">2004 – 2006</div>
                    <div class="col-sm-9 col-xs-9"><strong>Assistant Climbing Instructor</strong> @ <strong>Westway Sports center</strong><br />Weekend and vacation work supervising/coaching children and adults in indoor
rock climbing.</div>
                </div>
            </div>
        </div>
        <div class="row top">
            <div class="col-md-2 col-sm-12 col-xs-12 desc-cell"><h3>Education:</h3></div>
            <div class="col-md-10 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-sm-3 col-xs-3 desc-cell">2007 – 2010</div>
                    <div class="col-sm-9 col-xs-9"><strong>Student</strong> @ <strong>Leeds College of Art.</strong></div>
                </div>

                <div class="row">
                    <div class="col-sm-3 col-xs-3 desc-cell">2005 – 2006</div>
                    <div class="col-sm-9 col-xs-9"><strong>Design Scholar</strong> @ <strong>Bedales School Hampshire</strong></div>
                </div>
            </div>
        </div>
        <div class="row top">
            <div class="col-md-2 col-sm-12 col-xs-12  desc-cell"><h3>Qualifications:</h3></div>
            <div class="col-md-10 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-sm-3 col-xs-3 desc-cell">University</div>
                    <div class="col-sm-9 col-xs-9"><strong>BA(Hons) Three Dimensional Design</strong> (2nd class)</div>
                </div>

                <div class="row">
                    <div class="col-sm-3 col-xs-3 desc-cell">A-Level</div>
                    <div class="col-sm-9 col-xs-9"><strong>Maths:</strong> B, <strong>Physics</strong> B, <strong>Design</strong> B, <strong>Chemistry</strong> C</div>
                </div>
            </div>
        </div>
        <div class="row top">
            <div class="col-md-2 col-sm-12 col-xs-12 desc-cell"><h3>Awards:</h3></div>
            <div class="col-md-10 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-sm-3 col-xs-3 desc-cell">2013</div>
                    <div class="col-sm-9 col-xs-9"><strong>Publishing Innovation Award for Best Ebook</strong><br/><em>Dinosaur that Pooped Christmas</em> (Random House UK) <span class="ifprint"><br/></span>
                    <a href="http://www.randomhouse.co.uk/news/2013/01/the-dinosaur-that-pooped-christmas-wins-publishing-innovation-award" ><span class="ifnotprint">&nbsp;&nbsp;<i class="fa fa-link"></i></span><span class="ifprint">http://www.randomhouse.co.uk/news/2013/01/the-dinosaur-that-pooped-christmas-wins-publishing-innovation-award</span></a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 col-xs-3 desc-cell">2010</div>
                    <div class="col-sm-9 col-xs-9"><strong>GIDE Student Design Award</strong><br/><em>Group for International Design Education</em> (Switzerland)</div>
                </div>
            </div>
        </div>
    </div>
  </div>

    <div class="block-white">

        <div class="container">

            <h2 class="center"><i class="fa fa-magic"></i><br/>Skills</h2>
            <div class="row top">
                <div class="col-md-2 col-sm-12 col-xs-12 desc-cell"><h3>Programming:</h3></div>
                <div class="col-md-10 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-sm-6 col-xs-6">
                            <div class="row">
                                <div class="col-sm-3 col-xs-12">HTML5</div>
                                <div class="col-sm-9 col-xs-12">
                                    <div class="skill-bar-main skill-wd-9"></div><div class="skill-bar-empty skill-wd-1"></div>
                                    <div class="skill-number">9</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-6">
                            <div class="row">
                                <div class="col-sm-3 col-xs-12">CSS3</div>
                                <div class="col-sm-9 col-xs-12">
                                    <div class="skill-bar-main skill-wd-9"></div><div class="skill-bar-empty skill-wd-1"></div>
                                    <div class="skill-number">9</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-xs-6">
                            <div class="row">
                                <div class="col-sm-3 col-xs-12">Javascript</div>
                                <div class="col-sm-9 col-xs-12">
                                    <div class="skill-bar-main skill-wd-8"></div><div class="skill-bar-empty skill-wd-2"></div>
                                    <div class="skill-number">8</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-6">
                            <div class="row">
                                <div class="col-sm-3 col-xs-12">Python*</div>
                                <div class="col-sm-9 col-xs-12">
                                    <div class="skill-bar-main skill-wd-7"></div><div class="skill-bar-empty skill-wd-3"></div>
                                    <div class="skill-number">7</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-xs-6">
                            <div class="row">
                                <div class="col-sm-3 col-xs-12">PHP</div>
                                <div class="col-sm-9 col-xs-12">
                                    <div class="skill-bar-main skill-wd-6"></div><div class="skill-bar-empty skill-wd-4"></div>
                                    <div class="skill-number">6</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-6">
                            <div class="row">
                                <div class="col-sm-3 col-xs-12">Perl</div>
                                <div class="col-sm-9 col-xs-12">
                                    <div class="skill-bar-main skill-wd-5"></div><div class="skill-bar-empty skill-wd-5"></div>
                                    <div class="skill-number">5</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-xs-6">
                            <div class="row">
                                <div class="col-sm-3 col-xs-12">ActionScript3</div>
                                <div class="col-sm-9 col-xs-12">
                                    <div class="skill-bar-main skill-wd-4"></div><div class="skill-bar-empty skill-wd-6"></div>
                                    <div class="skill-number">4</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-6">
                            <div class="row">
                                <div class="col-sm-3 col-xs-12">ASP</div>
                                <div class="col-sm-9 col-xs-12">
                                    <div class="skill-bar-main skill-wd-3"></div><div class="skill-bar-empty skill-wd-7"></div>
                                    <div class="skill-number">3</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-xs-6">
                            <div class="row">
                                <div class="col-sm-3 col-xs-12">C/C++</div>
                                <div class="col-sm-9 col-xs-12">
                                    <div class="skill-bar-main skill-wd-2"></div><div class="skill-bar-empty skill-wd-8"></div>
                                    <div class="skill-number">2</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-6">
                            <div class="row">
                                <div class="col-sm-3 col-xs-12">Ruby</div>
                                <div class="col-sm-9 col-xs-12">
                                    <div class="skill-bar-main skill-wd-1"></div><div class="skill-bar-empty skill-wd-9"></div>
                                    <div class="skill-number">1</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row small-top">
                <div class="col-md-2"></div>
                <div class="col-md-10 col-xs-12 center small-text">
                    * Python 2.7 (some 3.3 experience)
                </div>
            </div>
            <div class="row top">
                <div class="col-md-2 col-sm-12 col-xs-12 desc-cell"><h3>Frameworks:</h3></div>
                <div class="col-md-10 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-sm-6 col-xs-6">
                            <div class="row">
                                <div class="col-sm-3 col-xs-12">EPUB</div>
                                <div class="col-sm-9 col-xs-12">
                                    <div class="skill-bar-main skill-wd-9"></div><div class="skill-bar-empty skill-wd-1"></div>
                                    <div class="skill-number">9</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-xs-6">
                            <div class="row">
                                <div class="col-sm-3 col-xs-12">jQuery</div>
                                <div class="col-sm-9 col-xs-12">
                                    <div class="skill-bar-main skill-wd-8"></div><div class="skill-bar-empty skill-wd-2"></div>
                                    <div class="skill-number">8</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-xs-6">
                            <div class="row">
                                <div class="col-sm-3 col-xs-12">Flask</div>
                                <div class="col-sm-9 col-xs-12">
                                    <div class="skill-bar-main skill-wd-6"></div><div class="skill-bar-empty skill-wd-4"></div>
                                    <div class="skill-number">6</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-6">
                            <div class="row">
                                <div class="col-sm-3 col-xs-12">Bootstrap</div>
                                <div class="col-sm-9 col-xs-12">
                                    <div class="skill-bar-main skill-wd-6"></div><div class="skill-bar-empty skill-wd-4"></div>
                                    <div class="skill-number">6</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-xs-6">
                            <div class="row">
                                <div class="col-sm-3 col-xs-12">Wordpress*</div>
                                <div class="col-sm-9 col-xs-12">
                                    <div class="skill-bar-main skill-wd-5"></div><div class="skill-bar-empty skill-wd-5"></div>
                                    <div class="skill-number">5</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-6">
                            <div class="row">
                                <div class="col-sm-3 col-xs-12">Django</div>
                                <div class="col-sm-9 col-xs-12">
                                    <div class="skill-bar-main skill-wd-4"></div><div class="skill-bar-empty skill-wd-6"></div>
                                    <div class="skill-number">4</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-xs-6">
                            <div class="row">
                                <div class="col-sm-3 col-xs-12">Node.js</div>
                                <div class="col-sm-9 col-xs-12">
                                    <div class="skill-bar-main skill-wd-3"></div><div class="skill-bar-empty skill-wd-7"></div>
                                    <div class="skill-number">3</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-6">
                            <div class="row">
                                <div class="col-sm-3 col-xs-12">RoR</div>
                                <div class="col-sm-9 col-xs-12">
                                    <div class="skill-bar-main skill-wd-1"></div><div class="skill-bar-empty skill-wd-9"></div>
                                    <div class="skill-number">1</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row small-top">
                <div class="col-md-2"></div>
                <div class="col-md-10 col-xs-12 center small-text">
                    * I'm counting this as a framework.
                </div>
            </div>


            <div class="row top">
                <div class="col-md-2 col-sm-12 col-xs-12 desc-cell"><h3>API's:</h3></div>
                <div class="col-md-10 col-sm-12 col-xs-12">
                    <div class="row">

                        <div class="col-sm-6 col-xs-6">
                            <div class="row">
                                <div class="col-sm-3 col-xs-12">Twitter</div>
                                <div class="col-sm-9 col-xs-12">
                                    <div class="skill-bar-main skill-wd-7"></div><div class="skill-bar-empty skill-wd-3"></div>
                                    <div class="skill-number">7</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-xs-6">
                            <div class="row">
                                <div class="col-sm-3 col-xs-12">Facebook</div>
                                <div class="col-sm-9 col-xs-12">
                                    <div class="skill-bar-main skill-wd-5"></div><div class="skill-bar-empty skill-wd-5"></div>
                                    <div class="skill-number">5</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row top">
                <div class="col-md-2 col-sm-12 col-xs-12 desc-cell"><h3>OS's:</h3></div>
                <div class="col-md-10 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-sm-6 col-xs-6">
                            <div class="row">
                                <div class="col-sm-3 col-xs-12">Linux</div>
                                <div class="col-sm-9 col-xs-12">
                                    <div class="skill-bar-main skill-wd-7"></div><div class="skill-bar-empty skill-wd-3"></div>
                                    <div class="skill-number">7</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-xs-6">
                            <div class="row">
                                <div class="col-sm-3 col-xs-12">Windows</div>
                                <div class="col-sm-9 col-xs-12">
                                    <div class="skill-bar-main skill-wd-6"></div><div class="skill-bar-empty skill-wd-4"></div>
                                    <div class="skill-number">6</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-xs-6">
                            <div class="row">
                                <div class="col-sm-3 col-xs-12">OSx</div>
                                <div class="col-sm-9 col-xs-12">
                                    <div class="skill-bar-main skill-wd-5"></div><div class="skill-bar-empty skill-wd-5"></div>
                                    <div class="skill-number">5</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-6">
                            <div class="row">
                                <div class="col-sm-3 col-xs-12">Android</div>
                                <div class="col-sm-9 col-xs-12">
                                    <div class="skill-bar-main skill-wd-4"></div><div class="skill-bar-empty skill-wd-6"></div>
                                    <div class="skill-number">4</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-xs-6">
                            <div class="row">
                                <div class="col-sm-3 col-xs-12">iOS</div>
                                <div class="col-sm-9 col-xs-12">
                                    <div class="skill-bar-main skill-wd-4"></div><div class="skill-bar-empty skill-wd-6"></div>
                                    <div class="skill-number">4</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row top">
                <div class="col-md-2 col-sm-12 col-xs-12 desc-cell"><h3>Programs*:</h3></div>
                <div class="col-md-10 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-12">
                            GIMP, EpubCheck, Sigil, Pycharm, Sublime Text, Photoshop, Dreamweaver, Illustrator, Fireworks, MS Office, Libre Office, MySQL Workbench.
                        </div>
                    </div>
                </div>
            </div>

            <div class="row top">
                <div class="col-md-2 col-sm-12 col-xs-12 desc-cell"><h3>Other*:</h3></div>
                <div class="col-md-10 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-12">
                            XMPP, OpenId, IRC, ImageMagick, Qt4, PDO, MySQL, SQLite, MSSQL, JSON, Redis, SocketIO, Git, OpenGL, Restful API's
                        </div>
                    </div>
                </div>
            </div>

            <div class="row small-top">
                <div class="col-md-2 col-xs-12 small-text desc-cell">
                    * In no particular order
                </div>
                <div class="col-md-10"></div>
            </div>
        </div>
    </div>


    <div class="block-blue">

        <div class="container">

            <h2 class="center"><i class="fa fa-bullseye"></i><br/>Expertise</h2>
            <div class="row top">
                <div class="col-md-12">
                    <ul class="fa-ul">
                        <li ><i class="fa-li fa fa-lightbulb-o expert"></i><strong>Concepts</strong>; strong out of the box and creative thinker. Quick to grasp situations and concepts. Reasonably used to cross referencing ideas with reality and past experience. Not afraid to take educated guesses.</li>
                        <li class="expert-top"><i class="fa-li fa fa-clock-o expert"></i><strong>Time Management</strong>; three years experience handling multiple projects for multiple clients. Good at working to deadlines and milestones. Good at automating tasks to maximise output.</li>
                        <li class="expert-top"><i class="fa-li fa fa-users expert"></i><strong>Teams</strong>; works well autonomously or as part of team. Experience working as part of both small and large teams, both in the real world and digitally. Experience both as a freelancer and managing sub-contractors.</li>
                        <li class="expert-top"><i class="fa-li fa fa-book expert"></i><strong>eBooks</strong>; extensive knowledge of eBook production. Experience of working with over two thousand problematic or complex titles. Excellent understanding of how books render on a large range of devices. Well versed in multiple mainstream reseller's guidelines and requirements (including Amazon, Apple and Barnes and Noble). Creative enhancement producer. Passionate about this technology and the implications for education going forwards.</li>
                        <li class="expert-top"><i class="fa-li fa fa-bug expert"></i><strong>Bug Squishing</strong>; Actively enjoys hunting down and fixing problems in both his and other peoples code. Enjoys the satisfaction of seeing something that is broken or not working correctly restored to working order. Good at working in mediums that are unsubjective in their results.</li>
                        <li class="expert-top"><i class="fa-li fa fa-globe expert"></i><strong>Web Native</strong>; Connected since an early age. Rarely disconnected. Fanatical about almost anything that allows him to stay connected.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="block-white">

        <div class="container">

            <h2 class="center"><i class="fa fa-cogs"></i><br/>Work Examples</h2>
            <div class="row top">
                <div class="col-md-12">
                    <ul class="fa-ul">
                        <li ><i class="fa-li fa fa-book expert"></i><strong><em>The Dinosaur that Pooped a Planet</em></strong>; sequel to <em>The Dinosaur that Pooped Christmas</em> by Tom Fletcher and Dougie Poynter and Illustrated by Garry Parsons. This project involved adding animation and interactive features to a illustrated children's book. Largely webkit focused CSS3 and HTML5 for iOS some subtle art modification was needed for it work effectively in this format. (why not the one that won the award you might ask... well this one is better!)
                    <a href="https://itunes.apple.com/gb/book/dinosaur-that-pooped-planet/id694729925?mt=11" target="_blank">https://itunes.apple.com/gb/book/dinosaur-that-pooped-planet/id694729925?mt=11</a> </li>
                        <li class="expert-top"><i class="fa-li fa fa-book expert"></i><strong><em>Tree Fu Tom: Tree Fu Go!</em></strong>; a children's book from the BBC series <em>Tree Fu Tom</em> aimed at helping children with developmental coordination disorder and promoting exercise. This project involved character animation and a large amount of interactivity. HTML5, CSS3, and Javascript. Again a large amount artwork modifaction was needed for this format, as well as some creative javascript to work around some of the iOS devices hardware issues.
                    <a href="https://itunes.apple.com/gb/book/tree-fu-tom-tree-fu-go!/id588984756?mt=11" target="_blank">https://itunes.apple.com/gb/book/tree-fu-tom-tree-fu-go!/id588984756?mt=11</a> </li>
                        <li class="expert-top"><i class="fa-li fa fa-facebook expert"></i><strong>I Shall Share Midnight</strong>; a Social marketing application for Facebook where users could add their profile images to a special edition with a promotional cover for a newly released <em>I Shall Wear Midnight</em> by Terry Pratchett. Flash (AS3), PHP (GD), MySQL, HTML, CSS and Facebook API.<br />
                        <a href="http://stunjelly.com/blog/i-shall-share-midnight/" target="_blank">http://stunjelly.com/blog/i-shall-share-midnight/</a>
                        </li>
                        <li class="expert-top"><i class="fa-li fa fa-github expert"></i><strong>Beat.js</strong>; A method to synchronize timed events across two iframe/windows using localstorage. A common issue (up until recently) with animation for iBooks was that you couldn't animate across pages as the left and right hand pages are loaded independently and at a variable interval depending on content and device. Beat allowed us to do this with creative use of localstorage.<br />
                            <a href="https://github.com/nicwest/beat" target="_blank">https://github.com/nicwest/beat</a></li>
                        <li class="expert-top"><i class="fa-li fa fa-globe expert"></i><strong>3 seconds mystery</strong>; a web marketing project for Marc-antoine Mathieu's <em>3 Seconds</em>, a graphic novel from the point of view of a beam of light traveling through a story in 3 seconds. The projects goals where a bit open ended so the result was part graphical experiment, part game, and part viral marketing. HTML, CSS, Javascript, PHP, MySQL, OpenID, Facebook/Twitter API's + other social stuff.<br />
                        <a href="http://3secondsmystery.com/" target="_blank">http://3secondsmystery.com/</a></li>
                        <li class="expert-top"><i class="fa-li fa fa-globe expert"></i><strong>Peter Dickinson (Author Website)</strong>; website for author Peter Dickinson. Design by <a href="http://www.alisaafkhami.com/" target="_blank">Alisa Afkhami</a>. Wordpress, HTML, CSS, Javascript.<br /><a href="http://peterdickinson.com/" target="_blank">http://peterdickinson.com/</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="block-blue">

        <div class="container">

            <h2 class="center"><i class="fa fa-user"></i><br/>Me</h2>
            <div class="row top">
                <div class="col-md-2 col-sm-12 col-xs-12 desc-cell"><h3>Info:</h3></div>
                <div class="col-md-10 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 col-xs-3 desc-cell">Full Name</div>
                                <div class="col-md-8 col-xs-9"><strong>Nicholas Oliver West</strong></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 col-xs-3 desc-cell">Date of Birth</div>
                                <div class="col-md-8 col-xs-9"><strong>21/06/188</strong> (25 Years)</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 col-xs-3 desc-cell">Born</div>
                                <div class="col-md-8 col-xs-9"><strong>London, UK. British citizen</strong></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 col-xs-3 desc-cell">Address</div>
                                <div class="col-md-8 col-xs-9"><strong>2c Westcroft Square, London, W6 0TB, UK</strong></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row top">
                <div class="col-md-2 col-sm-12 col-xs-12 desc-cell"><h3>Contact:</h3></div>
                <div class="col-md-10 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 col-xs-3 desc-cell">Personal Email</div>
                                <div class="col-md-8 col-xs-9"><strong><a href="mailto:nicwest.cb@gmail.com">nicwest.cb@gmail.com</a></strong></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 col-xs-3 desc-cell">Buisness Email</div>
                                <div class="col-md-8 col-xs-9"><strong><a href="mailto:nic@stunjelly.com">nic@stunjelly.com</a></strong></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 col-xs-3 desc-cell">Twitter</div>
                                <div class="col-md-8 col-xs-9"><strong><a href="https://twitter.com/west_nic">twitter.com/west_nic</a></strong></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 col-xs-3 desc-cell">G+</div>
                                <div class="col-md-8 col-xs-9"><strong><a href="https://plus.google.com/+NicWest-g">plus.google.com/+NicWest-g</a></strong></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 col-xs-3 desc-cell">Mobile</div>
                                <div class="col-md-8 col-xs-9"><strong>07900 444 2 44</strong></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4 col-xs-3 desc-cell">Home</div>
                                <div class="col-md-8 col-xs-9"><strong>0208 748 8035</strong></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row top">
                <div class="col-md-2 col-sm-12 col-xs-12 desc-cell"><h3>Interests:</h3></div>
                <div class="col-md-10 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-12">
                            Reading (fantasy, historical fiction, sci-fi), vaping, games, cycling, puzzles, coding, beer (ale), reddit, longboarding, squash, cooking, eating, tanks.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="block-white">

        <div class="container">

            <h2 class="center"><i class="fa fa-github"></i><br/>This</h2>
            <div class="row center">
                <div class="col-md-12">
                    Source code is availble at <a href="http://github.com/nicwest/website">github.com/nicwest/website</a>. Feel free to <i class="fa fa-code-fork"></i>!<br/>
                    Copyright &copy; 2014 Nic West
                </div>
            </div>
        </div>
    </div>
{% endblock %}